    <footer>
        <div class="item">Ihre Institution <br> <strong class="footer-school-name">{{ global_School_Name }}</strong></div>
        <div class="item">Ihr Bundesland <br> <strong>{{ global_federal_state.getName }}</strong></div>
        <div class="item">Ihre Benutzerrolle <br> <strong>{{ global_User_Name }}</strong></div>
        <div class="item">Version <br> <strong>Demo</strong></div>
        <div class="item"><span id="datetime"></span></div>
    </footer>
</span> <!-- Grid-Main close -->
</body>
<!-- <script>
    if ('serviceWorker' in navigator) {
       console.log("Will the service worker register?");
       navigator.serviceWorker.register('service-worker.js')
         .then(function(reg){
           console.log("Yes, it did.");
        }).catch(function(err) {
           console.log("No it didn't. This happened:", err)
       });
    }
   </script> -->
</html>