<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <!-- Web App Settings -->
    <meta name="viewport" content="width=device-width, minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/svg+xml" href="template/meta/favicon.svg" sizes="any">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="template/meta/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="template/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="template/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="template/meta/favicon-16x16.png">
    <link rel="mask-icon" href="template/meta/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00679e">
    <meta name="theme-color" content="#00679e">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Contrail One|Jockey One|Knewave|Lato|Lobster|Lora|Pacifico|Roboto|Viga&display=swap" rel="stylesheet">
    <!-- _____ -->
    <link rel="stylesheet" href="template/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="template/css/bootstrap.min.css">
    <link rel="stylesheet" href="template/css/toastr.css">
    <link rel="stylesheet" href="template/css/animate.css">
    <link rel="stylesheet" href="template/css/main.css">
    <link rel="prefetch" href="template/img/icon-error-white.svg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="template/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="template/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="template/js/moment.js"></script>
    <script type="text/javascript" src="template/js/routes.js"></script>
    <script type="text/javascript" src="template/js/toastr.min.js"></script>
    <script type="text/javascript" src="template/js/egrade.js"></script>
    <title>eGrade</title>
</head>
<body>
<div class="hasBg"></div>
<span class="grid-main">
    <header>
        <div>
            <a class="header-burger-menu"></a>
            <h1>eGrade</h1>
            <span class="header-online-status material-icons online">cloud</span>
        </div>
        <div>

        </div>
        <div>
            <a class="header-login"></a>
            <div class='sub-menu'>
                <h2>Hallo {{ global_User_Name }}!</h2>
                <a class='item show-dialogue' hiddenHref="index.php?function=Absences">Abwesenheit melden</a>
                <a class='item fetch' href='index.php?function=pinboard'>Digitales Pinboard</a>
                <a class='item fetch' href='index.php?function=Shared_Reports'>Freigaben</a>
                <a class='item show-dialogue' hiddenHref="index.php?function=Admin_School">Schule konfigurieren</a>
                <a class='item show-dialogue' href='index.php?function=my_account'>Textbausteine verwalten</a>
                <a class='item' href='index.php?function=main&logout=true'>Logout</a>
            </div>
        </div>
    </header>
    <nav>
        <div class="main-menu mobileHandler">
            <a href="index.php?function=main" class="nav-link menu-overview active"><span class="mobileHandler">Übersicht</span></a>
            <a href="" class="nav-link menu-mycalendar"><span class="mobileHandler">Kalender</span></a>
            <a href="" class="nav-link menu-rooms"><span class="mobileHandler">Räume</span></a>
            <a href="index.php?function=create_reports" class="nav-link menu-create"><span class="mobileHandler">Zeugnisse schreiben</span></a>
            <a href="" class="nav-link menu-myreports"><span class="mobileHandler">Zeugnisse verwalten</span></a>
            <a href="index.php?function=my_classes" class="nav-link menu-myclasses"><span class="mobileHandler">Meine Klassen</span></a>
        </div>
    </nav> 